body {
  background-color: #393e46;
}

hr {
  border-style: dotted none none;
  border-color: #f7be16;
  border-width: 10px;
  width: 5%;
}

h1 {
  color: #0092ca;
}

h3 {
  color: #0092ca;
}

p {
  color: white;
}

ul {
  color: white;
}

table {
  color: white;
}

a {
  color: white;
}
